<nav class="navbar bg-body-tertiary sticky-top bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/home">
            <img src="/assets/img/svg/angular_chatgpt_logo.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            Learn Angular w\ChatGPT
        </a>
      <form class="d-flex" *ngIf="authenticated">
        <button type="button" class="btn btn-outline-danger" (click)="logout()">Logout</button>
      </form>
    </div>
</nav>

<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
    <h1 class="display-5 fw-bold text-body-emphasis">Centered hero</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Primary button</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
      </div>
    </div>
  </div>

<h1>{{welcome}}</h1>

<div class="container my-5">
  <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
    <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
      <h1 class="question">{{question}}</h1>
      <div *ngIf="show; else notShow">
        <p>
          <mat-radio-group
            aria-labelledby="example-radio-group-label"
            class="example-radio-group" [(ngModel)]="selectedAnswer">
              <mat-radio-button 
                class="example-radio-button" *ngFor="let option of questionOptions" [value]="option">
                {{option}}
              </mat-radio-button>
          </mat-radio-group>
        </p>
      </div>
      <ng-template #notShow>
        <div>
          <input type="text" [(ngModel)]="selectedAnswer">
      </div>
      </ng-template>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
        <button type="submit" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold" (click)="comprobar()" >Comprobar</button>
        <button type="submit" class="btn btn-outline-secondary btn-lg px-4" (click)="nextQuestion()">Next</button>
        <div> {{this.result}}</div>
      </div>
    </div>
    <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
        <img class="image" src="https://tinyurl.com/5n8prkwn" alt="" >
    </div>
  </div>
</div>
